/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* custom styles */
.clearfix::before,.clearfix::after{
	content: "";
	display: table;
}
.clearfix::after{
	clear: both;
}
body{
	line-height: 1.2;
}
.container{
    max-width: 1000px;
    margin: 0 auto;
	padding: 12px;
    text-align: center;   
}
.header{
	background-color: rgb(43, 63, 8);
	height: 72px;
	line-height: 72px;
}
.brand{
    float: left;
	vertical-align: middle;
}
.nav{
    float: right;
}
.nav a{
	text-decoration: none;
	margin-left: 20px;	
	color: white;
}
.section{
	background-color: #e9ecfc;
}
.col{
	float: left;
	width: 30%;
	margin: 1.5%;
}
.img{
	width: 100%;
	height: 250px;
	object-fit: cover;
	margin-bottom: 20px;
}
p{
	text-align: left;
	line-height: 1.5;
}
.footer{
	background-color:rgb(43, 63, 8);
	padding: 28px;
}
.small{
	float: left;
	color: white;
}
.footer a{
	text-decoration: none;
	color: white;
	float: right;
	 margin-left: 26px;
	 font-size: 20px;
	
}